<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JiraCloudTools.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JiraCloudTools.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JiraCloudTools.Components.Properties.Settings>
            <setting name="JiraUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraServer" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraPassword" serializeAs="String">
                <value />
            </setting>
        </JiraCloudTools.Components.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JiraCloudTools.Components.Properties.Settings>
            <setting name="JiraServers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://leister.atlassian.net</string>
                    </ArrayOfString>
                </value>
            </setting>
        </JiraCloudTools.Components.Properties.Settings>
    </applicationSettings>
</configuration>